﻿navbar .dropdown-toggle, .navbar .dropdown-menu a {
    cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #021272;
}

@media (min-width: 767px) {
    .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link {
    color: #fff !important;
}

#registerLink, #loginLink, #login {
    color: #ffffff !important;
}

#login {
    padding-right: 10px;
}

#loginLink {
    padding-left: 10px;
}
