﻿body {
    padding-bottom: 20px;
}

h1 {
    font: 400% comforta;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.titulo {
    color: #fff !important;
    font: 200% comforta;
}

.jumbotron.subtitulo {
    color: #021272 !important;
}

.subtitulo {
    color: #021272 !important;
    font: 150% comforta;
}

footer {
    text-align: center;
}

th {
    text-align: center;
}

.table .thead-dark th {
    color: #fff;
    background-color: #021272 !important;
    border-color: #fff;
}

.separadorbuscar {
    color: #fff !important;
    font: 100% comforta;
}

.titulocampo {
    color: #021272 !important;
}

    .titulocampo.clave {
        color: #ff0000 !important;
    }

.encabezado {
    background-color: #0173c7;
    height: 80px;
}

.empresa {
    color: #000000 !important
}

.lead {
    color: #000000;
}
.linknav {
    color: #fff !important;
}

.qtr{
    width: 75px !important;
}

/*Check Box Approval*/

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 10px;
    }

    50% {
        height: 20px;
        width: 10px;
    }
}

.checkbox {
    background-color: #fff;
    display: inline-block;
    height: 28px;
    margin: 0 .25em;
    width: 28px;
    border-radius: 4px;
    border: 1px solid #ccc;
    float: right
}

    .checkbox span {
        display: block;
        height: 28px;
        position: relative;
        width: 28px;
        padding: 0
    }

        .checkbox span:after {
            -moz-transform: scaleX(-1) rotate(135deg);
            -ms-transform: scaleX(-1) rotate(135deg);
            -webkit-transform: scaleX(-1) rotate(135deg);
            transform: scaleX(-1) rotate(135deg);
            -moz-transform-origin: left top;
            -ms-transform-origin: left top;
            -webkit-transform-origin: left top;
            transform-origin: left top;
            border-right: 4px solid #fff;
            border-top: 4px solid #fff;
            content: '';
            display: block;
            height: 20px;
            left: 3px;
            position: absolute;
            top: 15px;
            width: 10px
        }

        .checkbox span:hover:after {
            border-color: #999
        }

    .checkbox input {
        display: none
    }

        .checkbox input:checked + span:after {
            -webkit-animation: check .8s;
            -moz-animation: check .8s;
            -o-animation: check .8s;
            animation: check .8s;
            border-color: #555
        }

        .checkbox input:checked + .default:after {
            border-color: #444
        }

        .checkbox input:checked + .primary:after {
            border-color: #2196F3
        }

        .checkbox input:checked + .success:after {
            border-color: #8bc34a
        }

        .checkbox input:checked + .info:after {
            border-color: #3de0f5
        }

        .checkbox input:checked + .warning:after {
            border-color: #FFC107
        }

        .checkbox input:checked + .danger:after {
            border-color: #f44336
        }
/*Fin check approval*/

@font-face {
    font-family: "comforta";
    src: url('../fonts/Comfortaa-Bold.ttf');
}
