﻿@using ImputacionesHorasCommon.Models
@model Login
@{
                /**/

                ViewBag.Title = "Ingresar al sistema";
                Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2 class="subtitulo text-center">@ViewBag.Title.</h2>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-row">
        <div class="form-group col-md-4 offset-5">
            <img src="~/Img/login.png" class="img-thumbnail" alt="..." />
        </div>
    </div>

    <br />

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <p class="titulocampo">Usuario ID</p>
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <p class="titulocampo">Contraseña</p>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <input type="submit" value="                            Iniciar sesión                            " class="btn btn-primary" />
        </div>
    </div>

    @* Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña
        <p>
            @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
        </p>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}