﻿@model ImputacionesHorasCommon.Models.RegisterUser
@{
    /**/

    ViewBag.Title = "Registro nuevo usuario.";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2 class="subtitulo text-center">@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "" }))
{
    @Html.AntiForgeryToken()

    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-row">
        <div class="col-md-4 offset-5">
            <img src="~/Img/newUser.png" class="img-thumbnail" alt="..." />
        </div>
    </div>

    <br />

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <p class="titulocampo">Nombres</p>
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <p class="titulocampo">Apellidos</p>
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <p class="titulocampo">Correo electrónico</p>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <p class="titulocampo">Usuario ID</p>
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <p class="titulocampo">Contraseña</p>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 offset-4">
            <p class="titulocampo">Confirmar contraseña</p>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 offset-4" >
            <input type="submit" class="btn btn-primary" value="                               Registrar                                " />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
