﻿@model ImputacionesHorasCommon.ViewModels.HourImputationApprovalViewModel

<table class="table table-bordered  table-sm table-striped" id="table">
    <thead class="thead-dark">
        <tr>
            <th class="">
                <label class="text-center ">Usuario</label>
            </th>
            <th class="">
                <label class="text-center ">Fecha</label>
            </th>
            <th class="">
                <label class="text-center ">Proyecto</label>
            </th>
            <th class="">
                <label class="text-center ">Tarea</label>
            </th>
            <th class="">
                <label class="text-center ">Descripción</label>
            </th>
            <th class="">
                <label class="text-center ">Tipo de trabajo</label>
            </th>
            <th class="">
                <label class="text-center ">Medida</label>
            </th>
            <th class="">
                <label class="text-center ">Importe</label>
            </th>
            <th class="">
                <label class="text-center ">Cantidad</label>
            </th>
            <th class="">
                <label class="checkbox text-center">
                    <input type="checkbox" id="checkAll" />
                    <span class="success"></span>
                </label>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.HourImputations.Count; i++)
        {
            <tr>
                <td class="small text-center">
                    @Html.DisplayFor(model => model.HourImputations[i].User)
                </td>
                <td class="small text-center">
                    @Html.DisplayFor(model => model.HourImputations[i].InputDate)
                </td>
                <td class="small">
                    @Html.DisplayFor(model => model.HourImputations[i].ProjectDescription)
                </td>
                <td class="small">
                    @Html.DisplayFor(model => model.HourImputations[i].ProjectTaskDescription)
                </td>
                <td class="small">
                    @Html.DisplayFor(model => model.HourImputations[i].PlanningLineDescription)
                </td>
                <td class="small text-center">
                    @Html.DisplayFor(model => model.HourImputations[i].WorkTypeDescription)
                </td>
                <td class="small text-center">
                    @Html.DisplayFor(model => model.HourImputations[i].UnitOfMeasure)
                </td>
                <td class="small text-right">
                    @Html.DisplayFor(model => model.HourImputations[i].Price)
                </td>
                <td class="small text-right">
                    @Html.EditorFor(model => model.HourImputations[i].Qty, new { htmlAttributes = new { @class = "qtr text-center" } })
                    @*@Html.DisplayFor(model => model.HourImputations[i].Qty)*@
                </td>
                <td class="small text-center">
                    <label class="checkbox">
                        <input type="checkbox" />
                        <span class="success"></span>
                    </label>
                </td>
                <!------------------>
                <!--Campos ocultos-->
                <!------------------>
                <td style="display:none">@Html.HiddenFor(model => model.HourImputations[i].ID)</td>
                <td style="display:none">@Html.HiddenFor(model => model.HourImputations[i].User)</td>
                <td style="display:none">@Html.HiddenFor(model => model.HourImputations[i].ResponsiblePerson)</td>
                <td style="display:none">@Html.HiddenFor(model => model.HourImputations[i].WorkType)</td>

            </tr>
        }
    </tbody>
</table>

<script>

    //Cambiar el color del registro
    $(document).ready(function () {
        evaluateChangeBackgroundColor();
    };

    //Activa desactiva los checks
    $("#checkAll").on("change", function () {
        var mainCheck = $(this).is(':checked');

        $('.table tr').each(function (i, row) {

            var $row = $(row);
            var childCheck = $row.find('td:eq(9) input');
            childCheck.prop('checked', mainCheck);
        });
    });
</script>

