﻿@model ImputacionesHorasCommon.ViewModels.HourImputationApprovalViewModel

@{
    ViewBag.Title = "Aprobación de imputaciones.";
    Layout = "~/Views/Shared/_LayoutInside.cshtml";
}

<h2 class="subtitulo text-center">@ViewBag.Title</h2>

<hr />
    <div class="row">
        <div class="form-group col-md-2">
            <label class="titulocampo" for="ApprovalType">Seleccione tipo de imputación</label>
            @Html.DropDownList("ApprovalType", new SelectList(Model.ApprovalTypes, "ID", "ApprovalType", 0), new { @class = "form-control" })
        </div>
        <div class="form-group col-md-2">
            <label class="titulocampo" for="ApprovalType">Proyecto</label>
            @Html.DropDownList("ProjectCode", new SelectList(Model.Projects, "ProjectNo", "ProjectDescription"), "Todos", new { @class = "form-control" })
        </div>
    </div>
<hr />
        <!--Espera mientras busca información en el servidor.-->
        <div class="row">
            <div class="alert alert-light collapse form-inline" id="esperar" role="alert">
                <img src="~/Img/source.gif" style="height:80px" />
                <p style=""><strong>Por favor espere...</strong></p>
            </div>
        </div>

   <input type="hidden" id="responsible" value="@ViewBag.User" />

    @if (Model.HourImputations.Count > 0)
    {
        <div class="table-responsive" id="partialView">
            <table class="table table-bordered  table-sm table-striped" id="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="">
                            <label class="text-center ">Usuario</label>
                        </th>
                        <th class="">
                            <label class="text-center ">Fecha</label>
                        </th>
                        <th class="">
                            <label class="text-center ">Proyecto</label>
                        </th>
                        <th class="">
                            <label class="text-center ">Tarea</label>
                        </th>
                        <th class="">
                            <label class="text-center ">Descripción</label>
                        </th>
                        <th class="">
                            <label class="text-center ">Tipo de trabajo</label>
                        </th>
                        <th class="">
                            <label class="text-center ">Medida</label>
                        </th>
                        <th class="">
                            <label class="text-center ">Importe</label>
                        </th>
                        <th class="">
                            <label class="text-center ">Cantidad</label>
                        </th>
                        <th class="">
                            @* <label class="text-center ">Ok</label>*@
                            <label class="checkbox text-center">
                                <input type="checkbox" id="checkAll" />
                                <span class="success"></span>
                            </label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.HourImputations.Count; i++)
                    {
                        <tr>
                            <td class="small text-center">
                                @Html.DisplayFor(model => model.HourImputations[i].User)
                            </td>
                            <td class="small text-center">
                                @Html.DisplayFor(model => model.HourImputations[i].InputDate)
                            </td>

                            <td class="small">
                                @Html.DisplayFor(model => model.HourImputations[i].ProjectDescription)
                            </td>
                            <td class="small">
                                @Html.DisplayFor(model => model.HourImputations[i].ProjectTaskDescription)
                            </td>
                            <td class="small">
                                @Html.DisplayFor(model => model.HourImputations[i].PlanningLineDescription)
                            </td>
                            <td class="small text-center">
                                @Html.DisplayFor(model => model.HourImputations[i].WorkTypeDescription)
                            </td>
                            <td class="small text-center">
                                @Html.DisplayFor(model => model.HourImputations[i].UnitOfMeasure)
                            </td>
                            <td class="small text-right">
                                @Html.DisplayFor(model => model.HourImputations[i].Price)
                            </td>
                            <td class="small text-right">
                                @Html.EditorFor(model => model.HourImputations[i].Qty, new { htmlAttributes = new { @class = "qtr text-center" } })
                                @*@Html.DisplayFor(model => model.HourImputations[i].Qty)*@
                            </td>
                            <td class="small text-center">
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </td>
                            <!------------------>
                            <!--Campos ocultos-->
                            <!------------------>
                            <td style="display:none">@Html.HiddenFor(model => model.HourImputations[i].ID)</td>
                            <td style="display:none">@Html.HiddenFor(model => model.HourImputations[i].User)</td>
                            <td style="display:none">@Html.HiddenFor(model => model.HourImputations[i].ResponsiblePerson)</td>
                            <td style="display:none">@Html.HiddenFor(model => model.HourImputations[i].WorkType)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--Alerta error-->
        <div class="alert alert-danger collapse alert-dismissible" id="alerta" role="alert">
            <strong id="encabezado"></strong> | <span id="mensaje"></span>
            <button type="button" class="close" id="cerrarAlerta" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!--Confirmación-->
        <div class="alert alert-success collapse alert-dismissible" id="confirm" role="alert">
            <strong id="headerConfirm"></strong> | <span id="messageConfirm"></span>
            <button type="button" class="close" id="closeConfirm" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!--Boton enviar-->
        <div class="form-group">
            <div class="col-md-1 offset-11">
                <input type="button" id="send" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    }
    else
    {
            <p class="jumbotron subtitulo">Sin resultados para mostrar.</p>
            @Html.ActionLink("Regresar", "Index", "Home", null, new { @class="btn btn-outline-primary" })

    }

@section scripts{
<script>

    //Cambiar el color del registro
    $(document).ready(function () {
        evaluateChangeBackgroundColor();
    });

    //Llena las líneas de aprobación según el combo de tipo
    $("#ApprovalType").on("change", function () {

        var url = "@Url.Action("GetApprovalLinesByType", "Approval")";
        var typeapproval = $(this).val();
        var responsible = $("#responsible").val();
        var data = { responsible: responsible, typeApproval: typeapproval };

        $("#esperar").show();

        $.post(url, data).done(function (data) {

            $("#partialView").html(data);
            evaluateChangeBackgroundColor();
            $("#esperar").hide();
        });

        var url = "@Url.Action("GetProjectsForApprovalByType", "Approval")";
        var data = { responsible: responsible, typeApproval: typeapproval };

        $.post(url, data).done(function (data) {

            $("#ProjectCode").html(data);
        });

    });

    //Carga las líneas según la selección del proyecto.
    $("#ProjectCode").on("change", function () {

        var url = "@Url.Action("GetLinesforApprovalByProject", "Approval")";
        var responsible = $("#responsible").val();
        var projectNo = $(this).val();
        var data = { responsible: responsible, projectNo: projectNo };

        $("#esperar").show();
        $.post(url, data).done(function (data) {

            $("#partialView").html(data);
            evaluateChangeBackgroundColor();
            $("#esperar").hide();
        });
    })

    //Activa desactiva los checks
    $("#checkAll").on("change", function () {
        var mainCheck = $(this).is(':checked');

        $('.table tr').each(function (i, row) {

            var $row = $(row);
            var childCheck = $row.find('td:eq(9) input');
            childCheck.prop('checked', mainCheck);
        });
    });


    //Boton guardar
    $('#send').click(function () {

        $(this).attr({ 'disabled': 'disabled' });

        $('.table tr').each(function (i, row) {
            var $row = $(row);
            var qty = $row.find('td:eq(8) input');
            var id = $row.find('td:eq(10) input');
            var approval = $row.find('td:eq(9) input').is(':checked');
            var responsible = $row.find('td:eq(12) input');

            if (approval) {

                var url = "@Url.Action("ProcessApproval", "Approval")";
                var data = { id: id.val(), approval: approval, qty: qty.val() };

                $.post(url, data).done(function (data) {
                    if (data.IsSucces == false) {
                        muestraError("Aprobación de imputaciones", data.Message);
                        return;
                    }
                    else {
                        loadPartialView();
                    };
                });
            };

            function loadPartialView() {

                var url = "@Url.Action("GetLinesForApproval", "Approval")";
                var data = { responsible: responsible.val() };

                $.post(url, data).done(function (data) {
                    $("#partialView").html(data);
                    $("#send").removeAttr('disabled');

                    muestraConfirmacion("Aprobación de imputaciones", "Aprobaciones procesadas, gracias.");
                });
            };
        });
    });

    //Mostrar la alerta de la validación.
    function muestraError(head, mensaje) {
        $('#alerta').slideDown(300);
        $('#encabezado').html(head);
        $('#mensaje').html(mensaje);

        window.setTimeout(closeAlert, 3000);

        $(".close").click(function () {
            closeAlert();
        });
    };

    //Muestra la alerta de confirmación.
    function muestraConfirmacion(headerConfirm, messageConfirm) {
        $('#confirm').slideDown(300);
        $('#headerConfirm').html(headerConfirm);
        $('#messageConfirm').html(messageConfirm);

        window.setTimeout(closeAlert, 3000);

        $("#closeConfirm").click(function () {
            closeAlert();
        });
    };

    //Cierra la alerta
    function closeAlert() {
        $("#alerta").slideUp(300);
        $('#confirm').slideUp(300);
    }

    //Para cambiar el color del registro según el tipo de trabajo.
    function evaluateChangeBackgroundColor() {

        $('.table tr').each(function (i, row) {
            var $row = $(row);
            var workTypeCode = $row.find('td:eq(13) input');

            if ((workTypeCode.val() == "DIETAS") || (workTypeCode.val() == "GASTOS") || (workTypeCode.val() == "KM") || (workTypeCode.val() == "JORNADA")) {

                changeBackgroundColor(i);
            };
        });
    };

    function changeBackgroundColor(i) {

        var table = document.getElementById('table');
        table.rows[i].style.backgroundColor = "#4285F4";
    };

</script>    
}
