﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron empresa">
    <h1>Imputaciones</h1>
</div>

@*<div class="row">
    <div class="col-md-4 offset-8">
        <img src="~/Img/geolen.png" class="img-thumbnail" alt="...">
    </div>
</div>*@