﻿﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Imputaciones de horas</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <img class="img-thumbnail" src="~/Img/geolen.png" width="300" height="100" />
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #021272;">
        <div class="container">
            @Html.ActionLink("Imputaciones", "Index", "Home", null, new { @class = "navbar-brand titulo mb-0" })
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Geolén Ingeniería</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
