﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Imputaciones de horas</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <img class="img-thumbnail" src="~/Img/geolen.png" width="300" height="100" />
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #021272;">
        <div class="container">
            <a class="navbar-brand titulo" href="#">Menú</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Imputaciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Horas", "Create", "HourImputation", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Gastos", "Create", "ExpensesImputation", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Aprobación", "Create", "Approval", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Modificar datos", "", "", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>

    <br />

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Geolén Ingeniería</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
