﻿@model ImputacionesHorasCommon.ViewModels.HourImputationViewModel

<table class="table table-bordered  table-sm table-striped" id="table">
    <thead class="thead-dark">
        <tr class="">
            <th class="">
                <label class="text-center small" for="HourImputation_InputDate">Fecha</label>
            </th>
            <th class="">
                <label class="text-center small" for="HourImputation_ProjectNo">Proyecto</label>
            </th>
            <th class="">
                <label class="text-center small" for="HourImputation_ProjectTaskDescription">Tarea</label>
            </th>
            <th class="">
                <label class="text-center small" for="HourImputation_ProjectTaskLineDescription">Línea de planificación</label>
            </th>
            <th class="">
                <label class="text-center small" for="HourImputation_ProjectTaskLineDescription">Tipo trabajo</label>
            </th>
            <th class="">
                <label class="text-center small" for="HourImputation_ProjectTaskLineDescription">Medida</label>
            </th>
            <th class="">
                <label class="text-center small" for="HourImputation_Qty">Cantidad</label>
            </th>
            <th class="">
                <label class="text-center small" for="HourImputation_Price">Importe</label>
            </th>
            <th class="">
                <label class="text-center small">---</label>
            </th>
        </tr>
    </thead>
    @if (Model.HourImputations != null)
    {
        <tbody>
            @for (int i = 0; i < Model.HourImputations.Count; i++)
            {
                @Html.HiddenFor(modelItem => Model.HourImputations[i].User)
                @Html.HiddenFor(modelItem => Model.HourImputations[i].ResponsiblePerson)

                <tr class="">

                    <!--0 FechaRegistro Link-->
                    <td class="text-center small">
                        <a href="#" class="edit">@Model.HourImputations[i].InputDate.ToString("dd-MM-yyyy")</a>
                    </td>
                    <!--1 Proyecto Etiqueta-->
                    <td class="small text-center">@Html.DisplayFor(model => model.HourImputations[i].ProjectDescription)</td>

                    <!--2 Tarea descripcion-->
                    <td class="small">@Html.DisplayFor(model => model.HourImputations[i].ProjectTaskDescription)</td>

                    <!--3 Línea de planificación-->
                    <td class="small">@Html.DisplayFor(model => model.HourImputations[i].PlanningLineDescription)</td>

                    <!--4 Tipo trabajo Descripcion-->
                    <td class="small text-center">@Html.DisplayFor(model => model.HourImputations[i].WorkTypeDescription)</td>

                    <!--5 Unidad de medida-->
                    <td class="small text-center">@Html.DisplayFor(model => model.HourImputations[i].UnitOfMeasure)</td>

                    <!--6 Cantidad-->
                    <td class="small text-center">@Html.DisplayFor(model => model.HourImputations[i].Qty)</td>

                    <!--7 Cantidad-->
                    <td class="small text-center">@Html.DisplayFor(model => model.HourImputations[i].Price)</td>

                    <!--8 Botón borrar-->
                    <td class="small text-center"><input type="button" class="btn btn-sm btn-danger delete" value="Borrar" /></td>

                    <!---------------------------------------------------------------------------->
                    <!-----------------Columnas ocultas------------------------------------------->
                    <!---------------------------------------------------------------------------->
                    <!--9 ID-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].ID)</td>

                    <!--10 InputDate campo-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].InputDate)</td>

                    <!--11 Project-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].ProjectNo)</td>

                    <!--12 ProjectDescription-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].ProjectDescription)</td>

                    <!--13 Task-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].ProjectTaskNo)</td>

                    <!--14 TaskDescription-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].ProjectTaskDescription)</td>

                    <!--15 PlanningLineNo-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].PlanningLineNo)</td>

                    <!--16 PlanningLineDescription-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].PlanningLineDescription)</td>

                    <!--17 WorkType-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].WorkType)</td>

                    <!--18 WorkTypeDescription-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].WorkTypeDescription)</td>

                    <!--19 UnitOfMeasure-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].UnitOfMeasure)</td>

                    <!--20 Price-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].Price)</td>

                    <!--21 Qty-->
                    <td style="display:none">@Html.HiddenFor(modelItem => Model.HourImputations[i].Qty)</td>

                    <!--Fin de columnas ocultas resto del modelo-->

                </tr>
            }
        </tbody>
    }
</table>

<hr />

@Scripts.Render("~/bundles/jquery")

<script>

    var project;
    var task;
    var planningline

    //Borrar un registro de la tabla en el botón borrar.
    $(function () {
        $(document).on('click', '.delete', function (event) {
            event.preventDefault();

            $(this).closest('tr').find('td:eq(9) input').each(function () {

                var url = "@Url.Action("DeleteImputationExpensesLine", "ExpensesImputation")";
                var id = this.value;
                var data = { id: id };
                $("#esperar").show();

                $.post(url, data).done(function (data) {
                    $("#esperar").hide();
                    $("#partialView").html(data);

                    //Calcular los totales por unidad de medida
                    var qtyHour = 0;
                    var qtyDia = 0;
                    var qtyUds = 0;

                    $('.table tr').each(function (i, row) {
                        var $row = $(row);
                        var uom = $row.find('td:eq(5)').text();
                        var rowqty = $row.find('td:eq(6)').text();

                        rowqty = rowqty.replace(",", ".");

                        switch (uom) {
                            case "HORA":
                                qtyHour += Number(rowqty);
                                break;
                            case "DÍA":
                                qtyDia += Number(rowqty);
                                break
                            case "UDS":
                                qtyUds += Number(rowqty);
                                break;
                        }

                        $("#Horas").text("HORAS: " + qtyHour);
                        $("#Horas").text($("#Horas").text().replace(".", ","));

                        $("#Dias").text("DIAS: " + qtyDia);
                        $("#Dias").text($("#Dias").text().replace(".", ","));

                        $("#UDS").text("UDS: " + qtyUds);
                        $("#UDS").text($("#UDS").text().replace(".", ","));
                    });
                });
            });
        });
    });

    //Seleccionar un registro para editar en los combos
    // Esta funcionalidad debe estructurarse según los pasos indicados
    // en el comentario del console.log, ya que no funciona si se hace de manera
    // directa, porque al hacer los post de carga de los DDL, no funciona la selección del mismo.
    // primero se ejecuta la selección y luego la carga.

    $(function () {
        $(document).on('click', '.edit', function (event) {
            event.preventDefault;

            //Proyecto
            $(this).closest('tr').find('td:eq(11) input').each(function () {

                project = this.value;
                $("#HourImputationFilter_ProjectNo").val(project);
                //console.log("Paso 1");
            });

            //Tarea
            $(this).closest('tr').find('td:eq(13) input').each(function () {
                task = this.value;
                //console.log("Paso 1");
            });

            //Linea de planificación
            $(this).closest('tr').find('td:eq(15) input').each(function () {
                planningline = this.value;
                //console.log("Paso 1");
            });

            //Fecha
            var inputDate = $(this).closest('tr').find('td:eq(0)').text();
            var splitDate = inputDate.split("-");

            var day = splitDate[0].replace("\n", "");
            var day = day.replace(/ /g, "");
            var month = splitDate[1];
            var year = splitDate[2].replace("\n", "");
            var year = year.replace(/ /g, "");

            $("#HourImputationFilter_InputDate").val(year + '-' + month + '-' + day);
            //console.log("Paso 1");

            //Tipo Trabajo Descripcion
            var worktypedescription = $(this).closest('tr').find('td:eq(4)').text();
            $("#WorkTypeDescription").val(worktypedescription);
            //console.log("Paso 1");

            //Unit of Measure
            var uom = $(this).closest('tr').find('td:eq(5)').text();
            $("#HourImputationFilter_UnitOfMeasure").val(uom);
            //console.log("Paso 1");

            //Qty
            var qty = $(this).closest('tr').find('td:eq(6)').text();
            $("#HourImputationFilter_Qty").val(qty);
            //console.log("Paso 1");

            //Price
            var qty = $(this).closest('tr').find('td:eq(7)').text();
            $("#HourImputationFilter_Price").val(qty);
            //console.log("Paso 1");

            loadTask();

            //Aquí colocar para eliminar de la tabla temporal.
            //
            $(this).closest('tr').find('td:eq(9) input').each(function () {

                var url = "@Url.Action("DeleteImputationExpensesLine", "ExpensesImputation")";
                var id = this.value;
                var data = { id: id };

                $.post(url, data).done(function (data) {
                    $("#partialView").html(data);

                    //Calcular los totales por unidad de medida
                    var qtyHour = 0;
                    var qtyDia = 0;
                    var qtyUds = 0;

                    $('.table tr').each(function (i, row) {
                        var $row = $(row);
                        var uom = $row.find('td:eq(5)').text();
                        var rowqty = $row.find('td:eq(6)').text();

                        rowqty = rowqty.replace(",", ".");

                        switch (uom) {
                            case "HORA":
                                qtyHour += Number(rowqty);
                                break;
                            case "DÍA":
                                qtyDia += Number(rowqty);
                                break
                            case "UDS":
                                qtyUds += Number(rowqty);
                                break;
                        }

                        $("#Horas").text("HORAS: " + qtyHour);
                        $("#Horas").text($("#Horas").text().replace(".", ","));

                        $("#Dias").text("DIAS: " + qtyDia);
                        $("#Dias").text($("#Dias").text().replace(".", ","));

                        $("#UDS").text("UDS: " + qtyUds);
                        $("#UDS").text($("#UDS").text().replace(".", ","));
                    });

                });
            });

        });
    });

    //Carga el combo de tareas según el proyecto que se seleccionó en la tabla.
    function loadTask() {
        var url = "@Url.Action("GetJobTasks", "HourImputation")";
        var user = $("#user").val();
        var data = { project: project, user: user };

        $.post(url, data).done(function (data) {
            $("#HourImputationFilter_ProjectTaskNo").html(data);
            //console.log("Paso 2");
            selectTasK();
        });
    };

    //Se asigna la tarea seleccionada en la línea al combo cargado
    //se hace de esta manera para que se ejecute en orden, de lo contrario, no funciona la selección
    //para esta funcionalidad, es importante seguir los pasos del comentario console.log

    function selectTasK() {
        $("#HourImputationFilter_ProjectTaskNo").val(task);
        //console.log("Paso 3");
        loadPlanningLines()
    };

    //Carga el combo de líneas de planificación según  el combo de proyectos y tareas.
    function loadPlanningLines() {
        var url = "@Url.Action("GetPlanningLines", "HourImputation")";
        var user = $("#user").val();
        var data = { project: project, task: task, user: user };

        $.post(url, data).done(function (data) {
            $("#HourImputationFilter_PlanningLineNo").html(data);
            //console.log("paso 4");
            selectPlanningLine();
        });
    };

    function selectPlanningLine() {
        $("#HourImputationFilter_PlanningLineNo").val(planningline);
        //Console.log ("Paso 4")
    };

</script>
