﻿@model ImputacionesHorasCommon.ViewModels.HourImputationViewModel
@{
    ViewBag.Title = "Imputaciones de gastos";
    Layout = "~/Views/Shared/_LayoutInside.cshtml";
}

<h2 class="subtitulo text-center">@ViewBag.Title</h2>

<hr />

<input type="hidden" id="user" value="@ViewBag.User" />
<input type="hidden" id="success" value="@ViewBag.IsSuccess" />


@using (Html.BeginForm("Create", "ExpensesImputation", FormMethod.Post, new { id = "frm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.HourImputationFilter.ResponsiblePerson)
    @Html.HiddenFor(model => model.HourImputationFilter.WorkType)

    <!--Encabezado filtros-->
    <div class="form-row align-items-sm-start">
        <div class="form-group col-md-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="finished">
                <label class="custom-control-label titulocampo" for="finished">¿Mostrar finalizados?</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <!--Fecha-->
        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.HourImputationFilter.InputDate, htmlAttributes: new { @class = "titulocampo" })
            @Html.EditorFor(model => model.HourImputationFilter.InputDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HourImputationFilter.InputDate, "", new { @class = "text-danger" })
        </div>

        <!--Proyectos-->
        <div class="form-group col-md-2">
            <label class="titulocampo" for="ProjectNo">Proyecto</label>
            <div class="input-group">
                @Html.DropDownListFor(model => model.HourImputationFilter.ProjectNo, new SelectList(Model.HourImputationFilter.JobsCollection, "ProjectNo", "ProjectDescription"), "", new { @class = "form-control" })
            </div>
        </div>

        <!--Tareas-->
        <div class="form-group col-md-1">
            <label class="titulocampo" for="ProjectTaskNo">Tarea</label>
            @Html.DropDownListFor(model => model.HourImputationFilter.ProjectTaskNo, new SelectList(" "), "", new { @class = "form-control" })
        </div>

        <!--Línea de planificicación-->
        <div class="form-group col-md-2">
            <label class="titulocampo" for="">Línea planificación</label>
            @Html.DropDownListFor(model => model.HourImputationFilter.PlanningLineNo, new SelectList(" "), "", new { @class = "form-control" })
        </div>

        <!--Tipo de trabajo-->
        <div class="form-group col-md-1">
            <label class="titulocampo" for="WorkTypeDescription">Trabajo</label>
            <input type="text" readonly="readonly" class="form-control" id="WorkTypeDescription" />
        </div>

        <!--Medida-->
        <div class="form-group col-md-1">
            @Html.LabelFor(model => model.HourImputationFilter.UnitOfMeasure, htmlAttributes: new { @class = "titulocampo" })
            @Html.EditorFor(model => model.HourImputationFilter.UnitOfMeasure, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.HourImputationFilter.UnitOfMeasure, "", new { @class = "text-danger" })
        </div>

        <!--Cantidad-->
        <div class="form-group col-md-1">
            @Html.LabelFor(model => model.HourImputationFilter.Qty, htmlAttributes: new { @class = "titulocampo" })
            @Html.EditorFor(model => model.HourImputationFilter.Qty, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HourImputationFilter.Qty, "", new { @class = "text-danger" })
        </div>

        <!--Importe-->
        <div class="form-group col-md-1">
            @Html.LabelFor(model => model.HourImputationFilter.Price, htmlAttributes: new { @class = "titulocampo" })
            @Html.EditorFor(model => model.HourImputationFilter.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HourImputationFilter.Price, "", new { @class = "text-danger" })
        </div>

        <!--Botón Agregar al grid.-->
        <div class="form-group col-md-1">
            <label class="titulocampo" for="Add">------------</label>
            <input type="button" class="btn btn-primary" value="Agregar" id="Add" />
        </div>
    </div>

    <!--Alerta error-->
    <div class="alert alert-danger collapse alert-dismissible" id="alerta" role="alert">
        <strong id="encabezado"></strong> | <span id="mensaje"></span>
        <button type="button" class="close" id="cerrarAlerta" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!--Confirmación-->
    <div class="alert alert-success collapse alert-dismissible" id="confirm" role="alert">
        <strong id="headerConfirm"></strong> | <span id="messageConfirm"></span>
        <button type="button" class="close" id="closeConfirm" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!--Espera mientras busca información en el servidor.-->
    <div class="row">
        <div class="alert alert-light collapse form-inline" id="esperar" role="alert">
            <img src="~/Img/source.gif" style="height:80px" />
            <p style=""><strong>Por favor espere...</strong></p>
        </div>
    </div>

    <hr />

    <div id="partialView" class="table-responsive">
        @Html.Partial("_ExpensesImputationsList", Model)
    </div>

    <!--Totales-->
    <div class="form-row">
        <div class="form-group col-md-1 offset-9">
            <p class="text-right text-danger font-weight-bold" id="Dias"></p>
        </div>
        <div class="form-group col-md-1">
            <p class="text-right text-danger font-weight-bold" id="UDS"></p>
        </div>
        <div class="form-group col-md-1">
            <p class="text-right text-danger font-weight-bold" id="Horas"></p>
        </div>
    </div>

    <!--Boton enviar-->
    <div class="form-group">
        <div class="col-md-1 offset-11">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>

}

@section scripts{
    <script>

        $(document).ready(function () {

            var success = $("#success").val();

            if (success == "True") {
                muestraConfirmacion("Imputaciones de horas", "Imputación registrada, gracias.");
            };

            var user = $("#user").val();

            //Evalúa el valor del check para saber si carga o no los proyectos cerrados
            $("#finished").on("click", function () {

                if ($('#finished').is(":checked")) {

                    var url = "@Url.Action("GetJobsExpensesFinished", "ExpensesImputation")";
                    var data = {user: user};
                    $.post(url, data).done(function (data) {
                        $("#HourImputationFilter_ProjectNo").html(data);
                    });

                }
                else {
                    var url = "@Url.Action("GetCurrentJobsExpenses", "ExpensesImputation")";
                    var data = { user: user };
                    $.post(url, data).done(function (data) {
                        $("#HourImputationFilter_ProjectNo").html(data);
                    });
                };
            });

            //Llena el combo de tareas según la selección del combo proyectos.
            $("#HourImputationFilter_ProjectNo").on("change", function () {

                var url = "@Url.Action("GetJobTasksExpenses", "ExpensesImputation")";
                var project = $(this).val();
                var data = { project: project, user: user };

                $.post(url, data).done(function (data) {
                    $("#HourImputationFilter_ProjectTaskNo").html(data);
                });
            });

            //LLena el combo de Lineas de planificación según la selección de los
            //combos anteriores.
            $("#HourImputationFilter_ProjectTaskNo").on("change", function () {

                var url = "@Url.Action("GetPlanningLinesExpenses", "ExpensesImputation")";
                var project = $("#HourImputationFilter_ProjectNo").val();
                var task = $(this).val();
                var data = { project: project, task: task, user: user };

                $.post(url, data).done(function (data) {
                    $("#HourImputationFilter_PlanningLineNo").html(data);
                })
            });

            //Muestra la medida, tipo de trabajo e importe según la selección de los combos
            //anteriores.
            $("#HourImputationFilter_PlanningLineNo").on("change", function () {

                var url = "@Url.Action("GetWorkTypeUoM", "HourImputation")";
                var project = $("#HourImputationFilter_ProjectNo").val();
                var task = $("#HourImputationFilter_ProjectTaskNo").val();
                var planningline = $(this).val();

                var data = { project: project, task: task, planningLines: planningline, user: user };

                $.post(url, data).done(function (data) {

                    $("#HourImputationFilter_WorkType").val(data.WorkType);
                    $("#WorkTypeDescription").val(data.WorkTypeDescription);
                    $("#HourImputationFilter_UnitOfMeasure").val(data.UoM);
                    $("#HourImputationFilter_Price").val(data.Price);
                    $("#HourImputationFilter_Price").val($("#HourImputationFilter_Price").val().replace(".", ","));
                });
            });
        });

        //Botón agregar
        $("#Add").click(function () {

            var url = "@Url.Action("AddImputationExpensesLine", "ExpensesImputation")";

            var inputDate = $("#HourImputationFilter_InputDate").val();
            var project = $("#HourImputationFilter_ProjectNo").val();
            var projectdescription = $("#HourImputationFilter_ProjectNo").find("option:selected").text();
            var task = $("#HourImputationFilter_ProjectTaskNo").val();
            var taskdescription = $("#HourImputationFilter_ProjectTaskNo").find("option:selected").text();
            var planninglineno = $("#HourImputationFilter_PlanningLineNo").val();
            var planninglinedescription = $("#HourImputationFilter_PlanningLineNo").find("option:selected").text();
            var worktypecode = $("#HourImputationFilter_WorkType").val();
            var worktypedescription = $("#WorkTypeDescription").val();
            var uom = $("#HourImputationFilter_UnitOfMeasure").val();
            var qty = $("#HourImputationFilter_Qty").val();
            var price = $("#HourImputationFilter_Price").val();
            var user = $("#user").val();
            var responsible = $("#HourImputationFilter_ResponsiblePerson").val();

            //Valida que haya fecha
            if (inputDate == "") {
                muestraError("Agregar imputación", "No ha seleccionado la fecha de ejecución");
                return;
            }
            //Valida selección de proyecto
            if (project == "") {
                muestraError("Agregar imputación", "No ha seleccionado el proyecto.");
                return;
            }
            //Valida selección de tarea
            if (task == "") {
                muestraError("Agregar imputación", "No ha seleccionado la tarea.");
                return;
            }
            //Valida seleccion línea de planificación
            if (planninglineno == "") {
                muestraError("Agregar imputación", "No ha seleccionado la línea de planificación.");
                return;
            }

            //Expresión regular para validar decimales o enteros
            var patt = new RegExp("^[+-]?([0-9]*[,])?[0-9]+$");

            //Valida que la cantidad introducida sea entero o decimal
            if (!patt.test(qty)) {
                muestraError("Agregar imputación", "El valor " + qty + " no es una entrada válida para la cantidad.");
                return;
            }

            //Valida que la cantidad sea mayor a 0
            var qtyValidate = qty.replace(",", ".");
            qtyValidate = Number(qtyValidate);

            if (qtyValidate <= 0) {
                muestraError("Agregar imputación", "La cantidad no puede ser 0 o negativa.");
                return;
            }

            //Sí la unidad de medida son horas, se valida que no sean mayor a 24
            if (uom == "HORA" && qtyValidate > 24) {
                muestraError("Agregar imputación", "No puede registrar más de 24 horas.")
                return;
            }

            //Valida que el importe introducido sea entero o decimal
            if (!patt.test(price)) {
                muestraError("Agregar imputación de gastos.", "El valor " + price + " no es una entrada válida para el importe.");
                return;
            }

            //Valida que el importe sea mayor a 0

            var priceValidate = price.replace(",", ".");
            priceValidate = Number(priceValidate);

            if (priceValidate <= 0) {
                muestraError("Agregar imputación de gastos.", "El importe debe ser mayor a 0.");
                return;
            }


            //Carga la información en la tabla y devuelve el partial view.
            var data = {

                inputDate: inputDate, project: project, projectDescription: projectdescription,
                task: task, taskDescription: taskdescription, planningLineNo: planninglineno,
                planningLineDescription: planninglinedescription, worktypecode: worktypecode,
                workTypeDescription: worktypedescription, UoM: uom, qty: qty, price: price,
                user: user, responsible: responsible
            };

            $("#esperar").show();

            $.post(url, data).done(function (data) {
                $("#esperar").hide();
                $("#partialView").html(data);

                //Setear la fecha del día al campo de fecha.
                var dateNow = new Date();
                var yearNow = String(dateNow.getFullYear());
                var monthNow = String(dateNow.getMonth() + 1);
                var dayNow = String(dateNow.getDate());
                if (monthNow.length < 2) monthNow = '0' + monthNow;
                if (dayNow.length < 2) dayNow = '0' + dayNow;
                var dateNowString = yearNow + '-' + monthNow + '-' + dayNow;
                //

                $("#HourImputationFilter_InputDate").val(dateNowString);
                $("#HourImputationFilter_ProjectNo").val("");
                $("#HourImputationFilter_ProjectTaskNo").val("");
                $("#HourImputationFilter_PlanningLineNo").val("");
                $("#WorkTypeDescription").val("");
                $("#HourImputationFilter_UnitOfMeasure").val("");
                $("#HourImputationFilter_Qty").val("0,00");
                $("#HourImputationFilter_Price").val("0,00");

                //Calcular los totales por unidad de medida
                var qtyHour = 0;
                var qtyDia = 0;
                var qtyUds = 0;

                $('.table tr').each(function (i, row) {
                    var $row = $(row);
                    var uom = $row.find('td:eq(5)').text();
                    var rowqty = $row.find('td:eq(6)').text();

                    rowqty = rowqty.replace(",", ".");

                    switch (uom) {
                        case "HORA":
                            qtyHour += Number(rowqty);
                            break;
                        case "DÍA":
                            qtyDia += Number(rowqty);
                            break
                        case "UDS":
                            qtyUds += Number(rowqty);
                            break;
                    }

                    $("#Horas").text("HORAS: " + qtyHour);
                    $("#Horas").text($("#Horas").text().replace(".", ","));

                    $("#Dias").text("DIAS: " + qtyDia);
                    $("#Dias").text($("#Dias").text().replace(".", ","));

                    $("#UDS").text("UDS: " + qtyUds);
                    $("#UDS").text($("#UDS").text().replace(".", ","));
                });
            });
        });

        //Mostrar la alerta de la validación.
        function muestraError(head, mensaje) {
            $('#alerta').slideDown(300);
            $('#encabezado').html(head);
            $('#mensaje').html(mensaje);

            window.setTimeout(closeAlert, 3000);

            $(".close").click(function () {
                closeAlert();
            });
        };

        function muestraConfirmacion(headerConfirm, messageConfirm) {
            $('#confirm').slideDown(300);
            $('#headerConfirm').html(headerConfirm);
            $('#messageConfirm').html(messageConfirm);

            window.setTimeout(closeAlert, 3000);

            $("#closeConfirm").click(function () {
                closeAlert();
            });
        };

        function closeAlert() {
            $("#alerta").slideUp(300);
            $('#confirm').slideUp(300);
        }
    </script>
}